// Root
.ui-card
  --ui-card-width: 100%
  
// Main
.ui-card
  width: var(--ui-card-width)
  max-width: 100%
  border-radius: var(--ui-radius)

  .ui-loading-root
    --ui-loading-size: var(--ui-size-mini)

  &__img
    border-radius: inherit
    img
      width: 100%
      border-radius: inherit
      transition: all 0.25s ease
      
  &__subtitle
    color: rgb(var(--ui-component-text-change-gray))

  &__body, &__footer
    color: rgb(var(--ui-component-text-change))

  &:hover, &:active
    .ui-card__img
      img
        transform: scale(1.1)

 