.ui-options
  --ui-options-max-height: auto
  
.ui-options
  position: absolute
  width: 100%
  max-height: var(--ui-options-max-height)
  background: rgb(var(--ui-content))
  border-radius: var(--ui-radius)
  overflow-x: hidden
  overflow-y: auto
  z-index: 100000
  .ui-options__input
    width: 100%
    background: none
    padding: var(--ui-space)
    color: rgb(var(--ui-text))
    font-size: var(--ui-font-size-s)
    &::placeholder
      color: rgb(var(--ui-gray))
  .ui-options__noData
    padding: var(--ui-padding)
    font-size: var(--ui-font-size-s)
    text-align: center

.ui-input
  &__center
    flex-grow: 1
    display: flex
    align-items: center
    flex-wrap: wrap
    width: 100%
    min-height: var(--ui-component-size)
    background: none
    color: rgb(var(--ui-input-text))
    padding: calc(var(--ui-space) / 2) 
    transition: all 0.25s ease
    user-select: none
    &--focus
      padding-left: var(--ui-space)
    &--noValue
      color: rgb(var(--ui-input-placeholder), var(--ui-input-placeholder-opacity))

    &__chip
      display: flex
      align-items: center
      justify-content: center
      background: rgba(var(--ui-component-icon-background), var(--ui-component-icon-background-opacity))
      color: rgb(var(--ui-component-icon-color))
      height: calc(var(--ui-component-size) * 0.7)
      border-radius: var(--ui-radius)
      padding: 0 calc(var(--ui-space) / 2) 
      line-height: normal
      user-select: none
      margin: 1px

      .ui-icon-close
        margin-left: calc(var(--ui-space) / 2) 