.ui-alert
  --ui-alert-width: 100%
  --ui-alert-body-text: var(--ui-text)
  --ui-alert-icon-size: 30px

// Style
.ui-alert
  .ui-icon-close-root
    --ui-icon-close-background: ''
    --ui-icon-close-size: 18px
    
  .ui-loading-root
    --ui-loading-background: ''
    --ui-loading-size: 18px

  &.ui-component-fashion--flat, &.ui-component-fashion--flat-full, &.ui-component-fashion--full
    --ui-alert-body-text: var(--ui-component-text)


// Main
.ui-alert
  align-items: flex-start
  justify-content: space-between
  width: var(--ui-alert-width)
  padding: var(--ui-space)
  border-radius: var(--ui-radius)

  // Style
  &--center
    align-items: center
    
  // Slot
  &__left, &__content, &__right
    position: relative
    transition: all 0.25s ease

  // Left Slot
  &__left
    margin-right: var(--ui-space)
    &__icon
      display: flex
      align-items: center
      justify-content: center
      width: var(--ui-alert-icon-size)
      height: var(--ui-alert-icon-size)
      background: rgba(var(--ui-component-icon-background), var(--ui-component-icon-background-opacity))
      color: rgb(var(--ui-component-icon-color)) 
      border-radius: var(--ui-radius)
      transition: all 0.25s ease
      user-select: none
      *
        margin: 0

  // Center
  &__content
    //width: 100%
    display: flex
    margin: 0 auto
    flex-direction: column
    flex-grow: 1
    &__title, &__body
      user-select: none
      transition: all 0.25s ease
    &__title
      display: flex
      align-items: center
      color: rgb(var(--ui-component-text))
      font-weight: 700
      line-height: normal
    &__body
      font-size: var(--ui-font-size-s)
      color: rgb(var(--ui-alert-body-text))

  // Right Slot
  &__right
    margin-left: var(--ui-space)
    min-width: 20px
    min-height: 20px

    
      

        
      
