.ui-alert
  --ui-alert-width: 100%
  --ui-alert-icon-size: var(--ui-size-s)

.ui-alert
  width: var(--ui-alert-width)
  max-width: 100%
  padding: var(--ui-space)
  border-radius: var(--ui-radius)

  .ui-loading-root
    --ui-loading-size: 18px

  &__icon
    min-width: var(--ui-alert-icon-size)
    min-height: var(--ui-alert-icon-size)
    max-width: var(--ui-alert-icon-size)
    max-height: var(--ui-alert-icon-size)
    background: rgba(var(--ui-component-text), 0.1)

  &__body
    color: rgb(var(--ui-component-text-change))

    
      

        
      
