//Root
.ui-chip-root
  --ui-chip-width: auto

// Main
.ui-chip
  width: var(--ui-chip-width)
  height: var(--ui-component-size)
  font-size: var(--ui-component-font-size)
  border-radius: var(--ui-radius)
  padding: 0 var(--ui-space)

  // Content 
  .ui-icon-close
    --ui-icon-close: var(--ui-component-text)
    --ui-icon-close-size: var(--ui-component-font-size)
    
  .ui-loading-root
    --ui-loading-background: ''
    --ui-loading-size: var(--ui-component-font-size)

  .ui-chip__right
    min-width: var(--ui-component-font-size)
    min-height: var(--ui-component-font-size)
  

