.ui-component
  &.ui-fashion--basic
    //Has Color
    &.ui-component--color
      &.ui-color--light
        --ui-component-text: var(--ui-text-dark-light)
    // Status Disabled
    &.ui-status--disabled
      --ui-component-background: var(--ui-disabled)

  // Ripple
  &.ui-fashion--basic
    .ui-ripple
      --ui-ripple: var(--ui-text-dark-light)
      --ui-ripple-opacity: 0.15
