.ui-component
  &.ui-fashion--text
    background: none
    color: rgb(var(--ui-component-text))
    .ui-component-inherit
      background: none
      color: rgb(var(--ui-component-text))
    .ui-loading-root
      --ui-loading-background: var(--ui-component-text)
      --ui-loading-color: var(--ui-component-text)