.ui-component
  //Style
  &.ui-fashion--transparent
    --ui-component-background-opacity: 0
    //Active
    &.ui-status--active, &:hover, &:active
      --ui-component-text-change: var(--ui-component-text)
      --ui-component-text-change-gray: var(--ui-component-text)
      --ui-component-background-opacity: 0.15


