.ui-list-item
  --ui-list-item-body-text: var(--ui-text)

  &.ui-component-fashion--flat, &.ui-component-fashion--flat-full, &.ui-component-fashion--full
    --ui-list-item-body-text: var(--ui-component-text)
  
.ui-list-item
  align-items: flex-start
  justify-content: space-between
  padding: var(--ui-space)

  &--hidden
    opacity: 0
    visibility: hidden
    height: 0px
    max-height: 0px
    transform: scale(0)
    padding: 0
    margin: 0

  &--center
    align-items: center

  &__left
    margin-right: var(--ui-space)
    color: rgb(var(--ui-list-item-body-text))

  &__right
    margin-left: var(--ui-space)
    color: rgb(var(--ui-list-item-body-text))

  &__center
    flex-grow: 1
    width: 100%
    &__title
      display: flex
      align-items: center
      font-weight: 700
      line-height: normal
      user-select: none
    &__body
      font-size: var(--ui-font-size-s)
      color: rgb(var(--ui-list-item-body-text))
      user-select: none

