.ui-loading-root
  --ui-loading-background: 0,0,0
  --ui-loading-background-opacity: 0.5
  --ui-loading-color: var(--ui-text-light)
  --ui-loading-size: 23px

.ui-loading-root
  &--default
    position: relative
    width: var(--ui-loading-size)
    height: var(--ui-loading-size)

  &--full
    background: rgba(var(--ui-loading-background), var(--ui-loading-background-opacity))
    position: absolute
    width: 100%
    height: 100%
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    border-radius: inherit
    z-index: 10

  .ui-loading
    border: 0px solid rgb(var(--ui-loading-color))
    border-radius: 50%
    border-top: 0px solid transparent
    animation: ui-loading-effect 1s linear infinite
    width: var(--ui-loading-size)
    max-width: var(--ui-loading-size)
    min-height: var(--ui-loading-size)
    max-height: var(--ui-loading-size)
    border-width: 1.7px

    &--large
      border-width: 3px
  
@keyframes ui-loading-effect
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)