.ui-menu
  --ui-menu-width: 170px
  --ui-menu-max-height: auto

.ui-menu
  position: absolute
  border-radius: var(--ui-radius)
  width: var(--ui-menu-width)
  max-width: calc(100% - var(--ui-space) * 2)
  max-height: var(--ui-menu-max-height)
  overflow-x: hidden
  overflow-y: auto
  z-index: 100000

.ui-menu-target
  position: relative