//Root Public
.ui-button
  --ui-button-width: auto

// Main
.ui-button
  width: var(--ui-button-width)
  height: var(--ui-component-size)
  font-size: var(--ui-component-font-size)
  border-radius: var(--ui-radius)
  padding: 0 var(--ui-space)
  font-weight: 500

  .ui-loading-root
    --ui-loading-size: calc(var(--ui-component-size) * 0.6)

  &--icon
    padding: 0 !important
    min-width: var(--ui-component-size)
    max-width: var(--ui-component-size)
    min-height: var(--ui-component-size)
    max-height: var(--ui-component-size)