// Root
.ui-input
  --ui-input-icon-size: calc(var(--ui-component-font-size) * 1.3)
  --ui-input-message: var(--ui-component-text)
  --ui-input-message-right: var(--ui-component-text)

// Main
.ui-input
  width: var(--ui-input-width)
  height: var(--ui-component-size)
  border-radius: var(--ui-radius)
  font-size: var(--ui-component-font-size)

  &.d-inline-flex
    --ui-input-width: auto
  &.d-flex
    --ui-input-width: 100%

  // Init Message Color
  &.ui-component--color
    --ui-input-message-left: var(--ui-color)
    --ui-input-message-right: var(--ui-color)

  &.ui-component--border
    .ui-input__icon--full
      border-right: 1px solid rgba(var(--ui-border-color), 1)

  // Error
  &--error
    &.ui-fashion--basic
      --ui-component-text: var(--ui-color) !important
      --ui-component-text-change: var(--ui-color) !important
    &:not(.ui-fashion--text, .ui-component--border)
      &:before
        box-shadow: 0px -1px rgba(var(--ui-component-text), 1)

  // Close 
  .ui-icon-close
    --ui-icon-close: var(--ui-component-text)
    --ui-icon-close-size: var(--ui-component-font-size)

  // Loading
  .ui-loading-root
    --ui-loading-size: var(--ui-input-icon-size)

  // Icon
  &__icon
    min-width: var(--ui-component-size)
    min-height: var(--ui-component-size)
    font-size:  var(--ui-input-icon-size)
    border-top-left-radius: inherit
    border-bottom-left-radius: inherit
    &--full
      background: rgba(var(--ui-component-text), 0.15) 
  
  // Input Dom
  &__dom
    height: 100%
    background: none
    color: rgb(var(--ui-component-text-change))
    font-size: inherit
    &::placeholder
      color: rgb(var(--ui-component-text-change-gray), 0.7)
    &--picker
      -webkit-appearance: none
      &:not(.ui-input__dom--value)
        &::before
          color: rgb(var(--ui-component-text-change-gray), 0.7)
          content: attr(placeholder)
      &::-webkit-inner-spin-button, &::-webkit-calendar-picker-indicator
        display: none
        -webkit-appearance: none

  &__select
    height: 100%
    color: rgb(var(--ui-component-text-change-gray), 0.7)
    &--value
      color: rgb(var(--ui-component-text-change))

// Options
.ui-input-options
  --ui-input-options-max-height: auto
  max-height: var(--ui-input-options-max-height)
  z-index: 100000

    
  
    