.ui-sidebar-item
  --ui-sidebar-item-text: var(--ui-sidebar-text)
  
.ui-sidebar-item
  align-items: center
  flex-wrap: wrap
  width: 100%
  min-height: var(--ui-sidebar-item-size)
  overflow: hidden

  .ui-icon-arrow
    --ui-icon-arrow: var(--ui-sidebar-item-text)
    --ui-icon-arrow-size: calc(var(--ui-sidebar-item-size) * 0.25)

  &:hover, &:active, &.ui-component--active
    --ui-sidebar-item-text: var(--ui-component-text)

  &__icon, &__content, &__right
    display: flex
    align-items: center
    height: 100%
    user-select: none
    color: rgb(var(--ui-sidebar-item-text))
    transition: all 0.25s ease

  &__icon
    width: var(--ui-sidebar-item-size)
    font-size: var(--ui-font-size-l)
    justify-content: center

  &__content
    flex-grow: 1
    white-space: nowrap
    font-size: var(--ui-font-size-s)
    font-weight: 500
    &--notIcon
      padding: 0 var(--ui-space)

  &__right
    //width: var(--ui-sidebar-item-size)
    padding: 0 var(--ui-space)
    justify-content: center
    .ui-icon-arrow
      margin-right: 3px

  &__child
    flex-grow: 1
    width: 100%

